body {
    min-width: 700px;
    background-color: #EDEEF7;
    color: #131212;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 0px;
}

a:visited {
    color: rgb(63, 63, 63);
    text-decoration: none
}

a:link {
    color: rgb(63, 63, 63);
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

.header{
    background-color: rgb(250, 203, 235);
    width: 100%;
    padding: 5px 0;
    height: 45px;
}


.logo{
    width: 15%;
    min-width: min-content;
    margin: 0 1%;
    padding: 5px 0 0 3%;
    float: left;
}

.browser{
    width: 35%;
    float: left;
}


.browser_input{
    margin: 4px 0;
    float: left;
    height: 40px;
    width: 80%;
    border: 2px inset rgba(20, 55, 78, 0.18);
    outline: none;
    font-size: 20px;
}

.search_button{
    float: left;
    color: #7868E6;
    margin: 9px 0 0 3px;
    padding: 0 5px 0 0;
    width: 35px;
    font-size: 25px;
    border: none;
    background-color: #42032C;
}

.btn{
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 9px;
  min-height: 28px;
  outline: 0;
  padding: 6px 6px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:hover,
.btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.btn:active {
  opacity: .5;
}


.search_button:hover{
    margin: 7px 0 0 0;
    font-size: 30px;
    cursor: pointer;
    color: #41387a;
}

.logging {
    font-size: 22px;
    min-width: 200px;
    padding: 5px 0 0 0;
    float: left;
    width: 35%;
    text-align: right;
    font-weight: bold;
}
.passwordinfo {
     /* float:left; */
    /* display:inline; */
    text-align:left;
    padding-left:25%;
    font-size: 14px;
    font-weight: 1000000;
    visibility:hidden;
}

.exc {
    text-align: left;
    font-size: 10px;float:left;
    padding-left:14%;
    color:red

}
.settings_menu {
    display: inline-block;
    margin-left: 20px;
    font-size: 40px;
    color: rgb(255, 246, 199);
    width: 4%;
    text-align: center;

}

#dark_theme {
    background-color: #ff83e6;
    margin-top: 4px;
    width: 90px;
    font-size: 20px;
    color: aquamarine;
    margin-left: -15px;
    display: none;
    text-align: left;
    display: none;

}

.settings_menu:active>#dark_theme {
    display: block;
}

.settings_menu:hover {
    color: #41387a;
    cursor: pointer;
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.fa-exclamation-circle
{
    text-align: left;
    font-size: 2888px;
    float:left;
    padding-left:14%;
    color:red;
    visibility: hidden;
}
.indicator
{
    margin-top: 22%;
}
.wrapper{
    position: relative;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #ccae63;
    border-top: #895f30 2px solid;
}

@media screen and (max-width: 1000px) {

    .logging {
        width: 15%;
    }
}

#cdprof{
    color: #66FCF1;
    font-size: 30px;
    box-sizing: border-box;
    width:30px;
}
#bag{
    color: #66FCF1;
    font-size: 30px;
    margin-left: 0px;
    padding:0;
    box-sizing: border-box;
    width:30px;
}
#info{
    color: #66FCF1;
    font-size: 30px;
    box-sizing: border-box;
    width:30px;
}
.sidebarmenu
{
    position: relative;
    margin-top: 10px;
    padding-left: 0px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin:0px;
    padding:2px;
    height:100%;
    /* width:20%; */
    background-color:  #031831;
    transition: all 3s ease;
}
.baritem:link
{
    color:red;
}
a{
    color:green;
}
.baritem:hover
{
    font-weight: bold;
    color:white;
}
ul{
    margin-top: 0px;
    padding:0px;
    line-height: 320%;
    list-style-type: none;
    text-indent: 6%;
}
ul li{
    /* width:100%; */
    padding-top: 0;
    border:solid 1.2px;
    border-color:#45A29E;
}
ul li:hover {
    background-color: rgb(2, 2, 45);
}
/* #menu:hover {
    background-color: red;
} */

.infobox{
    /* position: relative; */
    /* height: 100%;
    background:red; */
    text-align: center;
}
.big-icon
{
    background-image: linear-gradient(162deg, rgba(128, 221, 255, 1) 0%,
    rgba(83, 174, 236, 1) 32%, rgba(125, 123, 236, 1) 66%,
    rgba(221, 6, 236, 1) 100%); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    /* font-size: 32px; */
}

#userfield{
    position: relative;
    font-size: large;
    width: 60%;
    height:70vh;
    background-color: #fefed4;
    margin: 130px auto;
    display:grid;
    grid-template-columns: 20vw auto;
    gap:1%;
    /* display: inline-block; */
    /* padding: 40px 40px; 
    padding-left: 50px; */
    /* text-align: center; */
    /* border: 2px solid rgba(28, 110, 164, 0.1); */
    border-radius: 7px;
    -webkit-box-shadow: 9px 8px 26px -7px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 9px 8px 26px -7px rgba(0, 0, 0, 0.73);
    box-shadow: 9px 8px 26px -7px rgba(0, 0, 0, 0.73);
    /* border:5px solid; */
}
.information
{
    border:none;
    background-color: transparent;
    resize: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.information:focus {
    outline: 0;
}
